{% extends "base.html" %}{% block title %}Hakkında{% endblock %}{% block body %}
<div class="row justify-content-center align-items-center about">
  <i class="material-icons">book</i> kelimeci
</div>
<div class="row justify-content-center align-items-center">
  <ul class="list-group">
    <li class="list-group-item">version: 1.0</li>
    <li class="list-group-item"><a href="#">kaynak kodu</a></li>
    <li class="list-group-item">
      <a href="{% url 'admin:index' %} ">
        django-admin
      </a>
    </li>
  </ul>
  <div>
    {% endblock %}
