<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'general.css' %}">
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  {% url 'alistirma' as url_alistirma %} {% url 'login' as url_login %} {% url 'home' as url_home %} {% url 'kelime_ekle' as url_kelime_ekle %} {% url 'profil' as url_profil %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light gzlnavbar">
    <div class="container">
      <a class="navbar-brand" href="{{ url_home }}"><i class="material-icons">book</i>kelimeci</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if request.path == url_home %}active{% endif %}">
            <a class="nav-link" href="{{ url_home }}">kelimeler</a>
          </li>
          <li class="nav-item {% if request.path == url_alistirma %}active{% endif %}">
            <a class="nav-link" href="{{ url_alistirma }}">alıştırma</a>
          </li>
          <li class="nav-item {% if request.path == url_kelime_ekle %}active{% endif %}">
            <a class="nav-link" href="{{ url_kelime_ekle }}">kelime ekle</a>
          </li>
        </ul>
        <form method="GET" action="{% url 'arama' %}" class="form-inline my-2 my-lg-0 mr-3">
          <div class="input-group input-group-sm">
            <input class="form-control mr-sm-2" type="search" name="kelime" placeholder="kelime bul" aria-label="Search" required>
            <button class="btn btn-primary btn-sm" type="submit">ara</button>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %} {% url 'digerleri' as url_digerleri %}
          <li class="nav-item {% if request.path == url_digerleri %}active{% endif %}"><a class="nav-link" href="{{ url_digerleri }}">diğerleri</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ request.user.username }}
                </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_profil }}">bildiklerim</a>
              <a class="dropdown-item" href="{% url 'favorilerim' %}">favorilerim</a>
              <a class="dropdown-item" href="{% url 'eklediklerim' %}">eklediklerim</a>
              <a class="dropdown-item" href="{% url 'ayarlar' %}">ayarlar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'about' %}">hakkında</a>
              <a class="dropdown-item" href="{% url 'logout' %}"><i class="material-icons fs-18 mr-2">exit_to_app</i>çıkayım</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item {% if request.path == url_login %}active{% endif %}">
            <a class="nav-link" href="{{ url_login }}">giriş yap</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container content-main">
    <div class="page-header pheader pt-3">
      <h2>{% block sayfa_baslik %}{% endblock %}</h2>
    </div>
    {% if messages %} {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{message.tags}}{% endif %} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <i class="material-icons mr-2">info_outline</i> {{ message }}
    </div>
    {% endfor %} {% endif %} {% block body %}{% endblock %}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="{% static 'general.js' %}"></script>
  {% if 'kelime' in request.path %}
  <script>
    $('[data-toggle="tooltip"]').tooltip()
  </script>
  {% endif %}
</body>

</html>
