{% extends "base.html" %} {% block title %}Eklediğiniz kelimeler{% endblock %} {% block sayfa_baslik %} Eklediğiniz kelimeler {% endblock %} {% block body %} {% if object_list %}
<table class="table table-hover">
  {% for obj in object_list %}
  <tr class="clickable-tr" data-href="{% url 'kelime_detay' obj.kelime %}">
    <td class="klisthover">
      {{ obj.kelime }}
    </td>
  </tr>
  {% endfor %}
</table>
{% include "include/pagination.html" %} {% else %}
<p>Hiç bişi yok buralarda..</p>
<a class="btn btn-primary" href="{{ url_kelime_ekle }}">Kelime ekle</a> {% endif %} {% endblock %}
